<section class="modal">
<h1 mat-dialog-title>Sobre o desenvolvedor</h1>
<div mat-dialog-content>
    Olá, <br>
    <div class="carta-apresentacao">
        Gostaria de me apresentar como um desenvolvedor de aplicações completas.
        Com habilidades em linguagens de programação como Java, JavaScript e C#. <br>
        Possuo também experiência em Banco de Dados SQL e habilidades em mapeamento de objetos com o uso do Hibernate.
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Valeu</button>
</div>
</section>