<h5><u><i>Formulário Cadastrar usuário</i></u></h5>
<form class="form" (ngSubmit)="submitForm()">
  <mat-form-field class="field-full-width">
    <label class="field-label">Seu nome</label><input matInput placeholder="Digite seu nome" name="nome" [(ngModel)]="user.nome" required>
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <label class="field-label">Seu email</label><input matInput placeholder="Digite seu email" name="email" [(ngModel)]="user.email" type="email" required>
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <label class="field-label">Sua senha</label><input matInput placeholder="Digite sua senha" name="senha" [(ngModel)]="user.senha" type="password" required>
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <label class="field-label">Sua idade</label><input matInput name="idade" [(ngModel)]="user.idade" type="number" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Cadastrar</button>
</form>


<h5><u><i>Lista de Usuários</i></u></h5>
<table mat-table [dataSource]="users" class="mat-elevation-z8">
  
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
  </ng-container>
  
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email do usuário </th>
    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
  </ng-container>

  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef> Idade do usuário </th>
    <td mat-cell *matCellDef="let element"> {{ element.idade }} </td>
  </ng-container>
  
  <ng-container matColumnDef="remover">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="removerUser(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<a routerLink="/">Início</a>
