.rodape {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10ch;
}

.info {
    margin: 5ch 0;
}

.titulo {
    font-size: large;
    padding: 15px;
    margin: 15px;
}

img {
    width: 45px;
    height: 45px;
    padding: 5px;
}