<footer class="app-footer">
    <app-container>
        <div class="inner">
            <div class="rodape">
                <div class="info">
                    <h5>Motivo da Criação</h5>
                    <p>Trabalho para a disciplina: PRINCÍPIOS DO DESENVOLVIMENTO WEB E MOBILE da pós-graduação em Desenvolvimento Web e Mobile 2024.</p>
                </div>

                <div class="info">
                    <h5>Desenvolvedor</h5>
                    <p>Ricardo Bavaresco</p>
                    <p>Dev at Unoesc</p>
                </div>
            </div>
        </div>
    </app-container>
</footer>
