<header>
    <mat-toolbar>          
      <div class="head-link">
        <button mat-button class="titulo">Finnancial</button>
      </div>
      <div class="botoes">
        <button mat-flat-button color="primary" routerLink="/">Inicio</button>
        <button mat-flat-button color="primary" routerLink="/cadastro">Cadastro</button>
        <div *ngIf="canShow">
          <button mat-flat-button color="primary" (click)="logout()">Logout</button>
        </div>
        <button mat-flat-button color="primary" routerLink="/login">Login</button>

        <div *ngIf="canShow">
          <button mat-flat-button color="primary" routerLink="/budget">Meu budget</button>
          <button mat-flat-button color="primary" routerLink="/goal">Minhas metas</button>
        </div>
        <button mat-flat-button (click)="openDialog()">Sobre</button>
      </div>
      
      <span class="spacer"></span>
      <img src="assets/backgroudn_financial2.png" alt="">
  </mat-toolbar>
</header>