<header>
    <mat-toolbar>    
    <img src="assets/images/public/AudioWave.ico" alt="">

    <div class="head-link">
      <button mat-button class="titulo">Festival</button>
    </div>
    <div class="botoes">
        <button mat-flat-button color="primary" routerLink="/">Inicio</button>
        <button mat-flat-button color="primary" routerLink="/login">Login</button>
        <button mat-flat-button color="primary">Inscrições</button>
        <button mat-flat-button color="primary" (click)="openDialog()">Sobre</button>
    </div>
    
    <span class="spacer"></span>
  </mat-toolbar>
</header>