.example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar {
  background-color: rgba(105, 144, 184, 0.2);
  color: rgba(4, 8, 12, 0.2);
  }

.botoes{
  margin-left: 10ch;
}

button {
  margin: 1px 10px;
}

.color-button {
  background-color: rgba(105, 144, 184, 0.2);
  color: rgba(4, 8, 12, 0.2);
}
.titulo {
  color: rgba(3, 3, 7, 0.2);
  font-size: large;
  font-weight: 500;
}

img {
  height: 40px;
}
.head-link {
  padding-top: 10px;
  color: #070708f1;
}