.container {
    margin: 2ch;
    padding: 2ch;
}

form {
    margin: 2ch;
    padding: 2ch;
}

table {
    margin: 5ch;
    padding: 2ch;
}

.field-full-width {
    margin: 1ch;
    min-width: 30ch;
}