<section class="modal">
  <h1 mat-dialog-title>Nova Meta</h1>
  <div mat-dialog-content>

      <div class="modal-meta">
        <form class="form" (ngSubmit)="submitForm()">
          <mat-form-field class="field-full-width">
            <label class="field-label">Descrição</label><input matInput placeholder="Digite a descricao" name="descricao" [(ngModel)]="goal.descricao" required>
          </mat-form-field>
        
          <mat-form-field class="field-full-width">
            <label class="field-label">Previsão</label><input matInput placeholder="Digite a previsão" name="previsao" [(ngModel)]="goal.previsao" type="date" required>
          </mat-form-field>
        
          <mat-form-field class="field-full-width">
            <label class="field-label">Valor</label><input matInput placeholder="Informe o valor" name="valor" [(ngModel)]="goal.valor" type="number" required>
          </mat-form-field>
        
          <mat-form-field class="field-full-width">
            <label class="field-label">Imagem</label><input matInput name="imagem" [(ngModel)]="goal.imagem" >
          </mat-form-field>        
        </form>
      </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cadastrar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
  </section>