<div class="container">

  <h5><u><i>Dados deste usúario</i></u></h5>
  <table mat-table [dataSource]="profiles" class="mat-elevation-z8">
    
    <ng-container matColumnDef="sub">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{ element.sub }} </td>
    </ng-container>
    
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <a routerLink="/">Início</a>
</div>