<h5><u><i>Formulário para login</i></u></h5>
<form class="form">
  <mat-form-field class="field-full-width" appearance="fill">
    <label class="field-label">Email do usuário</label><input matInput name="email" [(ngModel)]="user.email" type="string" required>
  </mat-form-field>

  <mat-form-field class="field-full-width" appearance="fill">
    <label class="field-label">Senha</label><input matInput name="senha" [(ngModel)]="user.senha" type="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
</form>
<a routerLink="/">Inicio</a>
