<h5><u><i>Formulário para login</i></u></h5>
<form class="example-form">
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>Nome do usúario</mat-label>
<input matInput placeholder="Digite seu nome" name="usename"
[(ngModel)] ="username">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>Senha</mat-label>
<input matInput placeholder="Digite sua senha" value="" name="password" type="password" [(ngModel)]= "password">
</mat-form-field>
<button mat-raised-button color="primary" (click)="submit()">Submit</button>
<span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
</form>
<a routerLink="/">Inicio</a>