<h5><u><i>Formulário para login</i></u></h5>
<form class="form">
  <mat-form-field class="field-full-width" appearance="fill">
    <mat-label class="custom-mat-label">Nome do usuário</mat-label>
    <input matInput placeholder="Digite seu nome" name="username" [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field class="field-full-width" appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Digite sua senha" name="password" type="password" [(ngModel)]="password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
</form>
<a routerLink="/">Inicio</a>
