<mat-card class="goal-card">
    <mat-card-header>
      <div mat-card-avatar class="simples-header-image"></div>
      <mat-card-title>{{ descricao }}</mat-card-title>
      <!-- <mat-card-subtitle>{{ previsao }}</mat-card-subtitle> -->
    </mat-card-header>
    
    <!--<img mat-card-image src="{{ imagem }}" alt="Meta"> -->
    <mat-card-content>
      <p>        
        {{ imagem }}
      </p>
      <p>
        {{ valor }}
      </p>     
      <p>
        {{ previsao }}
      </p>      
    </mat-card-content>
    <div class="botoes">
      <mat-card-actions>
        <button mat-flat-button color="primary">Ver mais</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-flat-button color="warn">Remover</button>
      </mat-card-actions> 
  </div>   
  </mat-card>
  