<app-banner 
    src="assets/images/public/imagens/fimusi/sistema_principal_fundo.png"
    alt="Banner do site">
</app-banner>

<app-container>
    <div class="lista-cartoes">    
        <app-card-simples
            src="assets/images/public/imagens/fimusi2023/aplicarnotas_epalco3.jpg"
            texto="Imagem do evento realizado em 2023.">
        </app-card-simples>
        <app-card-simples
            src="assets/images/public/imagens/fimusi2023/aplicarnotas_epalco2.jpg"
            texto="Imagem do evento realizado em 2023.">
        </app-card-simples>    
        <app-card-simples
            src="assets/images/public/imagens/fimusi2023/bancodados_calculo_notas.jpg"
            texto="Imagem do evento realizado em 2023.">
        </app-card-simples>     

        <app-card-simples
            src="assets/images/public/imagens/fimusi/fimusi.jpg"
            texto="Imagem do evento realizado em 2022.">
        </app-card-simples>
        <app-card-simples
            src="assets/images/public/imagens/fimusi/sistema_palco.jpg"
            texto="Imagem do evento realizado em 2022.">
        </app-card-simples>    
        <app-card-simples
            src="assets/images/public/imagens/fimusi/festival_apresentcos.jpg"
            texto="Imagem do evento realizado em 2022.">
        </app-card-simples>
    </div>
</app-container>